.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
chatGPT_code.R
Strava_API_credentials.R
check_shinyapps_io_accounts.R
version-control.md
exported-strava-data-from-API/Strava-activit*.csv
exported-strava-data-from-API/Strava-activit*.tsv
weekly-progress-dashboard-like-Strava.R
python-dashboard-440410-ed98e19552ae.json